@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container">
    <div id="top">
        <h1>Witam w aplikacji internetowej</h1>
    </div>
    <div id="left">
    </div>
    <div id="content">
        <a>Podaj imię</a>
        <input type="text" id="nameInput" /> <br />
        <a>Podaj hasło</a>
        <input type="password" id="passwordInput" /> <br />
        <button id="submitButton">Zatwierdz</button>
        <div id="result"></div>
    </div>
    <div id="right">
    </div>
    <div id="footer">
        <a>Wykonanie: Kacper Wierzejski 168040</a>
    </div>
</div>
